*.auc*
*.fastq.gz
*.swp
.snakemake/
__pycache__/
sampleInfo.tsv
poolSampleSheet.tsv
sampleSheet.tsv
cmu
Fastq/
Sam/
Bam/
Logs/
BigWig/
Peaks/
Threshold_PeakCalls/
FastQC/
FQscreen/
Plots/
AlignmentStats/
multiqc_data/
slurmOut/
Bed/
Bowtie2Index/
PCRdups/
multiqc_report.html
